Django
{% if cookiecutter.postgres == "y" or cookiecutter.postgres == "Y" %}
psycopg2-binary==2.8.4
{% endif %}
{% if cookiecutter.api == "y" or cookiecutter.api == "Y" %}
djangorestframework
django-rest-multiple-models
drf-yasg
django-cors-headers
{% endif %}
django-cors-headers
